/* © 2025 kerem.ai · All rights reserved. */
/* This file contains the styles for the GithubStats component. */

.github-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    padding-bottom: 40px !important;
    align-content: normal;
    align-items: normal;
}

@media (max-width: 767px) {
    .github-row {
        padding-bottom: 20px !important;
    }
}
