/* © 2025 kerem.ai · All rights reserved. */
/* This file contains the styles for the Resume component. */

.resume-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    padding-bottom: 40px !important;
    align-content: normal;
    align-items: normal;
}

.resume-button {
    background: none !important; /* Remove background */
    border: none !important; /* Remove border */
    color: #c770f0; /* Keep the text color */
    font-size: 24px; /* Keep the font size */
    padding: 10px 20px; /* Adjust padding as needed */
}

.resume-button:hover {
    color: #a55bcf; /* Change color on hover */
}

@media (max-width: 767px) {
    .resume-row {
        padding-bottom: 20px !important;
    }
}
