/* © 2025 kerem.ai · All rights reserved. */
/* This file contains the styles for the Socials component. */

@import "../../../data/styles.css";

.socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media (max-width: 600px) {
	.socials {
		flex-direction: column;
		justify-content: center;
	}
}

.social,
.email-wrapper {
	display: flex;
	padding-bottom: 0px;
}

.social a,
.email-wrapper a {
	text-decoration: none;
}

.social-icon {
	font-size: 22px;
	color: #ffa41c;
}

.social-text {
	color: var(--secondary-color);
	padding-left: 32px;
	margin-top: -30px;
	font-weight: 600;
	font-size: 18px;
}

.email::before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f4f4f5;
	margin-top: 20px;
}

.email-wrapper {
	padding-bottom: 5px;
}
