
.tech-icons {
  font-size: 5em !important;
  margin: 15px !important;
  padding: 15px !important;
  opacity: 0.93 !important;
  border: 1.7px solid #7676769a !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 3px 4px 3px 2px #3b383c60 !important;
  overflow: hidden !important;
}

.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.tech-row {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  padding-bottom: 40px !important;
  align-content: normal;
  align-items: normal;
}

@media (max-width: 767px) {
  .tech-row {
    padding-bottom: 20px !important;
  }

  .tech-icons {
    margin: 10px !important;
  }
}