/* © 2025 kerem.ai · All rights reserved. */
/*
This file contains the grid for the homepage.
First column is the projects, second column is the stories.
Each box is a card with a title, description, and a link.
Besides, we can swipe the cards to see the next one.
In the mobile version, the grid is displayed vertically.
*/

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  margin-bottom: 5vh;
  position: relative;
  z-index: 1;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.carousel {
  position: relative;
  width: 100%;
  height: 25vh;
  overflow: visible;
  padding: 10px;
  margin-bottom: 20px;
}

.category-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category-bar h2 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 24px;
  margin: 0;
}

.nav-button {
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: var(--primary-color);
}

.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow: visible;
}

.card-title {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
}

.card-description {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.5;
  overflow: visible;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr;
    padding: 20px;
    margin-bottom: 10vh;
  }

  .carousel {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
}
