.about-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.about-main {
	display: flex;
}

.about-right-side {
	flex-basis: 900px;
}

.about-title {
	width: 100% !important;
	padding-top: 20px;
	padding-bottom: 40px;
}

.about-subtitle {
	width: 80% !important;
	font-size: 40px;
	padding-bottom: 20px;
}

.about-left-side {
	display: flex;
	flex-direction: column;
	flex-basis: 240px;
}

.about-socials {
	padding-top: 100px;
	padding-bottom: 50px;
}

.about-socials-mobile {
	display: none;
}

@media (max-width: 1024px) {
	.about-logo {
		z-index: 100;
	}

	.about-main {
		flex-direction: column;
	}

	.about-subtitle {
		padding-top: 20px !important;
	}

	.about-left-side {
		flex-basis: 100%;
		order: 1;
	}

	.about-right-side {
		flex-basis: 100%;
		order: 2;
	}

	.about-image-container {
		padding-bottom: 40px;
	}

	.about-socials {
		display: none;
	}

	.about-socials-mobile {
		padding-top: 30px;
		display: flex;
	}
}

@media (max-width: 600px) {
	.about-container {
		padding-top: 60px;
	}

	.about-image-container {
		width: 80%;
	}
}


.about-section {
	position: relative !important;
	padding-top: 0px !important;
	padding-bottom: 30px !important;
	background-image: var(--section-background-color) !important;
	color: #646464 !important;
}

.project-heading {
	color: rgb(0, 0, 0) !important;
	font-size: 2.3em !important;
	font-weight: 500 !important;
	padding-top: 10px !important;
}

.purple {
	color: #13a5da !important;
}
