/* © 2025 kerem.ai · All rights reserved. */
/* This file contains the styles for the homepage. */

@import "../../data/styles.css";

.homepage-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 6vh;
}

.homepage-first-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.homepage-title {
	margin-left: 5%;
	width: 85% !important;
}

.homepage-subtitle {
	margin-left: 5%;
	width: 85% !important;
}

.homepage-after-title {
	display: flex;
}


@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-title {
		width: 80 !important;
	}

	.homepage-subtitle {
		width: 80% !important;
	}

	.homepage-after-title {
		flex-direction: column;
	}
}
