@import "../../data/styles.css";


.homepage-container {
	padding-top: 120px;
}

.homepage-first-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-after-title {
	display: flex;
}


@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.homepage-after-title {
		flex-direction: column;
	}
}
