/* © 2025 kerem.ai · All rights reserved. */
/* This file contains the styles for the read article page. */

@import "../../data/styles.css";

.read-article-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 6vh;
}

.read-article-wrapper {
	justify-content: left;
	width: 100%;
}

.read-article-date-container {
	color: var(--tertiary-color);
	font-size: 16 px;
	align-items: center;
	height: 20px;
}

.read-article-date {
	font-family: var(--primary-font);
}

.read-article-body {
	padding-bottom: 50px;
	font-size: 16px;
	line-height: 30px;
	font-family: system-ui;
	color: #52525b;
}
