
@import url('https://fonts.googleapis.com/css?family=Cairo');

.header-project {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  height: 70vh;
  letter-spacing: 1px;
  line-height:1.25;
  width: 100%;
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}

.header-project-text-big {
  font-size: 150px;
}

.header-project-text-big-mobile {
  display: none;
}

.header-project-text-big-2-mobile {
  display: none;
}

.header-project-text-small {
  font-size: 100px;
}

.header-project-text-small-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .header-project-text-big {
    display: none;
  }
  .header-project-text-big-mobile {
    display: block;
    font-size: 90px;
  }
  .header-project-text-big-2-mobile {
    display: block;
    font-size: 80px;
  }
  .header-project-text-small {
    display: none;
  }
  .header-project-text-small-mobile {
    display: block;
    font-size: 60px;
  }
}

